@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

body {
  font-size: 18px;
  color: #1b1b1b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  max-width: 200px;
  width: 100%;
  height: 60px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-org {
  background: #f68b1e;
  background: #f68b1e;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-org:hover {
  background: #d87109;
}

.btn-grey {
  background: #434343;
  background: #434343;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-grey:hover {
  background: #2a2a2a;
}

header {
  width: 100%;
  background: #fff;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav {
  max-width: 660px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header li {
  margin: 0 20px;
}

header a {
  display: block;
  color: #434343;
  padding: 10px 0;
  text-transform: uppercase;
}

header a:hover {
  border-bottom: 2px solid #f68b1e;
}

header a.active {
  border-bottom: 2px solid #f68b1e;
}

header a.logo-link:hover {
  border: none;
}

footer {
  width: 100%;
  height: 400px;
  background: #f68b1e;
  color: #ffffff;
  padding: 20px 0;
}

footer a {
  color: #ffffff;
}

.footer-inner {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-footer {
  width: 100%;
}

.nav-footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-footer li {
  margin: 0 20px;
}

.nav-footer a {
  text-transform: uppercase;
}

.socials-footer {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.socials-footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.socials-footer i {
  font-size: 26px;
}

.copyright {
  max-width: 600px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
}

.copyright p {
  font-size: 14px;
  line-height: 24px;
}

.uhsome {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uhsome-link {
  display: block;
  margin-left: 10px;
  background: url(../images/uhsome.png) no-repeat center center;
  background-size: cover;
  width: 85px;
  height: 26px;
}

.home-top {
  width: 100%;
  height: 650px;
  background: url(../images/home-top-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 80px;
}

.investor-portal {
  z-index: 9;
  position: absolute;
  right: -53px;
  top: 400px;
  width: 180px;
  height: 75px;
  background: #f68b1e;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-90deg);
  cursor: pointer;
  background: #f68b1e;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.investor-portal:hover {
  background: #d87109;
}

.portal-key {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.portal-txt p {
  text-transform: uppercase;
}

.home-top-title {
  max-width: 860px;
  width: 100%;
  padding: 70px 0;
  background: rgba(67, 67, 67, 0.8);
  color: #ffffff;
}

.home-top-title-wrap {
  text-align: center;
  text-transform: uppercase;
}

.home-top-title-wrap h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 300;
}

.home-top-title-wrap h1 {
  font-size: 72px;
  font-weight: 600;
}

.home-top-btn {
  margin-top: 40px;
}

.home-strategy {
  padding: 70px 0 100px;
  background: url(../images/home-strategy-bg.png) no-repeat center right;
  background-size: cover;
}

.ul-strategy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ul-strategy-list li {
  width: 31%;
  margin: 0 5px;
  margin-bottom: 120px;
}

.ul-strategy-list iframe {
  width: 100%;
}

.video-box {
  width: 100%;
  height: 250px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1), 0 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1), 0 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.content-title {
  min-height: 60px;
}

.content-title h3 {
  padding: 0 40px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #f68b1e;
  text-transform: uppercase;
}

.content-txt {
  min-height: 140px;
  margin-bottom: 20px;
}

.content-txt p {
  text-align: center;
  line-height: 24px;
}

.home-slider {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.home-slider .wrapper {
  z-index: 2;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-slider-bg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 550px;
  background: url(../images/home-slider-bg.png) no-repeat center left;
  background-size: cover;
}

.slider {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.slick-arrow {
  width: 31px;
  height: 58px;
}

.slick-arrow::before {
  content: '';
}

.slick-arrow:hover {
  opacity: .7;
}

.slick-arrow.slick-prev {
  left: -200px;
  background: url(../images/arrow-prev.png) no-repeat center center;
}

.slick-arrow.slick-next {
  right: -200px;
  background: url(../images/arrow-next.png) no-repeat center center;
}

.home-slider-content {
  max-width: 750px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.slider-title {
  margin-bottom: 15px;
}

.slider-title h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.slider-title p {
  font-size: 14px;
  color: #f68b1e;
  text-align: center;
}

.slider-content {
  margin-bottom: 30px;
}

.slider-content p {
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.slider-cont-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.slider-cont-btns button {
  margin: 0 15px;
}

.investors {
  width: 100%;
  padding: 60px 0 70px;
  background: url(../images/inverstors-bg.png) no-repeat center center;
  background-size: cover;
}

.investors-content {
  max-width: 760px;
  width: 100%;
}

.investors-content h4 {
  font-size: 24px;
  color: #f68b1e;
}

.investors-content p {
  font-weight: 300;
  line-height: 24px;
  margin: 30px 0;
  color: #ffffff;
}

.investors-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.investors-btns button {
  margin: 0;
}

.investors-btns button.btn-org {
  margin-right: 30px;
}

.our-story-strategy {
  padding-top: 120px;
}

.headline-section {
  width: 100%;
  height: 200px;
}

.headline-section .wrapper {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.headline-section-title {
  min-width: 400px;
  min-height: 100px;
  padding: 0 30px;
  background: rgba(67, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headline-section-title h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  line-height: 72px;
  color: #ffffff;
}

.our-story-bg {
  background: url(../images/our-story-bg.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .slick-arrow.slick-prev {
    left: -30px;
  }
  .slick-arrow.slick-next {
    right: -30px;
  }
}

@media screen and (max-width: 920px) {
  .ul-strategy-list li {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
  .button {
    max-width: 150px;
    width: 100%;
    height: 45px;
    font-size: 12px;
  }
  .home-top-title {
    padding: 30px 20px;
    max-width: 500px;
    width: 100%;
  }
  .home-top-title-wrap h3 {
    font-size: 28px;
  }
  .home-top-title-wrap h1 {
    font-size: 32px;
  }
  .home-strategy {
    padding: 40px 0;
  }
  .our-story-strategy {
    padding-top: 120px;
  }
  .ul-strategy-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ul-strategy-list li {
    max-width: 380px;
    width: 100%;
  }
  .ul-strategy-list li:last-child {
    margin-bottom: 0;
  }
  .video-box {
    margin-bottom: 30px;
  }
  .home-slider .wrapper {
    max-width: 550px;
    padding: 0 50px;
  }
  .slider-title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .slider-title p {
    font-size: 10px;
  }
  .slider-content p {
    font-size: 16px;
  }
  .investors {
    padding: 30px 0;
  }
  .investors-content {
    text-align: center;
  }
  .investors-content h4 {
    font-size: 20px;
  }
  .investors-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .investors-btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-slider-bg {
    max-width: 550px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .home-top {
    height: 500px;
    padding: 0 10px;
  }
  .home-top-title-wrap h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .home-top-title-wrap h1 {
    font-size: 26px;
  }
  .content-title {
    min-height: 50px;
  }
  .content-title h3 {
    font-size: 20px;
  }
  .content-txt p {
    font-size: 18px;
  }
  .content-txt {
    min-height: 80px;
  }
  .slider-title {
    margin-bottom: 10px;
  }
  .slider-title h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .slider-content {
    margin-bottom: 10px;
  }
  .slider-content p {
    font-size: 12px;
    font-weight: 400;
  }
  .investors-content p {
    font-size: 14px;
  }
  .logo-footer {
    margin-bottom: 30px;
  }
  .nav-footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-footer li {
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    height: auto;
  }
  .nav-footer {
    margin-bottom: 30px;
  }
  .socials-footer {
    margin-bottom: 30px;
  }
}
