@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  font-size: 18px;
  line-height: 24px;
  color: #1b1b1b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  max-width: 200px;
  width: 100%;
  height: 60px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: block;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-org {
  background: #f68b1e;
  background: #f68b1e;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-org:hover {
  background: #d87109;
}

.btn-grey {
  background: #434343;
  background: #434343;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-grey:hover {
  background: #2a2a2a;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f68b1e;
}

header {
  width: 100%;
  background: #fff;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav {
  max-width: 660px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header li {
  margin: 0 20px;
}

header a {
  display: block;
  color: #434343;
  padding: 10px 0;
  text-transform: uppercase;
  position: relative;
}

header a.active::after, header a:hover::after {
  position: absolute;
  content: '';
  width: 84px;
  height: 2px;
  background: #f68b1e;
  left: 0;
  bottom: 0;
}

header a.logo-link:hover::after {
  height: 0;
}

footer {
  width: 100%;
  height: 400px;
  background: #f68b1e;
  color: #ffffff;
  padding: 20px 0;
}

footer a {
  color: #ffffff;
}

.footer-inner {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-footer {
  width: 100%;
}

.nav-footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-footer li {
  margin: 0 20px;
}

.nav-footer a {
  text-transform: uppercase;
}

.socials-footer {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.socials-footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.socials-footer i {
  font-size: 26px;
}

.copyright {
  max-width: 600px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
}

.copyright p {
  font-size: 14px;
  line-height: 24px;
}

.uhsome {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.uhsome-link {
  display: block;
  margin-left: 10px;
  background: url(../images/uhsome.png) no-repeat center center;
  background-size: cover;
  width: 85px;
  height: 26px;
}

.home-top {
  width: 100%;
  height: 650px;
  background: url(../images/home-top-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 80px;
}

.investor-portal {
  z-index: 9;
  position: absolute;
  right: -53px;
  top: 400px;
  width: 180px;
  height: 75px;
  background: #f68b1e;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(-90deg);
  cursor: pointer;
  background: #f68b1e;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.investor-portal:hover {
  background: #d87109;
}

.portal-key {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.portal-txt p {
  text-transform: uppercase;
}

.home-top-title {
  max-width: 860px;
  width: 100%;
  padding: 70px 0;
  background: rgba(67, 67, 67, 0.8);
  color: #ffffff;
}

.home-top-title-wrap {
  text-align: center;
  text-transform: uppercase;
}

.home-top-title-wrap h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 300;
}

.home-top-title-wrap h1 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 600;
}

.home-top-btn {
  margin-top: 40px;
}

.home-top-btn .button {
  margin: 0 auto;
}

.home-strategy {
  padding: 70px 0 100px;
  background: url(../images/home-strategy-bg.png) no-repeat bottom right;
}

.ul-strategy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ul-strategy-list li {
  width: 31%;
  margin: 0 5px;
  margin-bottom: 120px;
}

.ul-strategy-list iframe {
  width: 100%;
}

.video-box {
  position: relative;
  width: 100%;
  height: 250px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1), 0 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1), 0 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.content-title {
  min-height: 60px;
}

.content-title h3 {
  padding: 0 40px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #f68b1e;
  text-transform: uppercase;
}

.content-txt {
  min-height: 140px;
  margin-bottom: 20px;
}

.content-txt p {
  text-align: center;
  line-height: 24px;
}

.content-btn .button {
  margin: 0 auto;
}

.home-slider {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.home-slider .wrapper {
  z-index: 2;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-slider-bg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 550px;
  background: url(../images/home-slider-bg.png) no-repeat center left;
  background-size: cover;
}

.slider {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.slider .slick-arrow {
  width: 31px;
  height: 58px;
}

.slider .slick-arrow::before {
  content: '';
}

.slider .slick-arrow:hover {
  opacity: .7;
}

.slider .slick-arrow.slick-prev {
  left: -200px;
  background: url(../images/arrow-prev.png) no-repeat center center;
}

.slider .slick-arrow.slick-next {
  right: -200px;
  background: url(../images/arrow-next.png) no-repeat center center;
}

.home-slider-content {
  max-width: 750px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.slider-title {
  margin-bottom: 15px;
}

.slider-title h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.slider-cont-date {
  font-size: 14px;
  color: #f68b1e;
  text-align: center;
}

.slider-content {
  margin-bottom: 30px;
}

.slider-content p {
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.slider-cont-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.slider-cont-btns button {
  margin: 0 15px;
}

.investors {
  width: 100%;
  padding: 60px 0 70px;
  background: url(../images/inverstors-bg.png) no-repeat center center;
  background-size: cover;
}

.investors-content {
  max-width: 760px;
  width: 100%;
}

.investors-content p {
  font-weight: 300;
  line-height: 24px;
  margin: 30px 0;
  color: #ffffff;
}

.investors-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.investors-btns button {
  margin: 0;
}

.investors-btns button.btn-org {
  margin-right: 30px;
}

.our-story-strategy {
  padding-top: 120px;
}

.headline-section {
  width: 100%;
  height: 200px;
}

.headline-section .wrapper {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.headline-section-title {
  min-width: 400px;
  min-height: 100px;
  padding: 0 30px;
  background: rgba(67, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headline-section-title h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  line-height: 72px;
  color: #ffffff;
}

.our-story-bg {
  background: url(../images/our-story-bg.jpg) no-repeat center center;
  background-size: cover;
}

.our-dna-bg {
  background: url(../images/our-dna-bg.jpg) no-repeat center center;
  background-size: cover;
}

.who-we-are {
  background: url(../images/home-strategy-bg.png) no-repeat center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 400px;
}

.who-we-are-inner {
  max-width: 670px;
  width: 100%;
}

.who-we-are-inner .section-title {
  margin-bottom: 35px;
}

.who-we-are-inner p {
  margin-bottom: 50px;
}

.who-we-are-inner .button {
  margin: 0;
}

.core-values {
  background-color: #f68b1e;
  background: url(../images/core-values-bg.png) no-repeat center right;
  background-size: cover;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.core-values .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.core-values-inner {
  max-width: 670px;
  width: 100%;
  text-align: right;
}

.core-values-inner .section-title {
  color: #ffffff;
  margin-bottom: 35px;
}

.core-values-inner p {
  margin-bottom: 50px;
}

.core-values-inner .button {
  margin: 0;
  float: right;
}

.added-value {
  width: 100%;
  min-height: 400px;
  background: url(../images/added-value-bg.jpg) no-repeat center left;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.added-value .section-title {
  color: #f68b1e;
}

.added-value .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news {
  background: url(../images/home-strategy-bg.png) no-repeat bottom right;
}

.news-title-wrap {
  margin-bottom: 30px;
}

.news-title-wrap .slider-cont-date {
  text-align: left;
}

.news-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: #434343;
  margin-bottom: 20px;
}

.news-more-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.more-about-img {
  max-width: 780px;
  width: 100%;
}

.more-about-img img {
  width: 100%;
}

.more-about-txt {
  max-width: 420px;
  width: 100%;
  padding: 20px 0;
  padding-left: 20px;
}

.more-about-txt p {
  margin-bottom: 20px;
}

.news-list {
  margin-bottom: 80px;
}

.news-list-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.news-list-wrap li {
  max-width: 370px;
  width: 100%;
  margin: 0 5px;
  margin-bottom: 80px;
}

.news-list-title {
  min-height: 120px;
}

.news-list-title h4 {
  font-weight: 500;
  font-size: 24px;
  color: #434343;
}

.news-list-img {
  margin: 10px 0 30px;
}

.news-pagination {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news-pagination span {
  cursor: pointer;
}

.pag-prev {
  margin: 0 10px;
  width: 8px;
  height: 12px;
  background: url(../images/pag-prev.png) no-repeat center center;
}

.pag-next {
  margin: 0 10px;
  width: 8px;
  height: 12px;
  background: url(../images/pag-next.png) no-repeat center center;
}

.ul-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-pagination li {
  margin: 0 5px;
  color: #ababab;
}

.ul-pagination a {
  color: #ababab;
}

.ul-pagination a:hover {
  color: #434343;
}

.ul-pagination .pag-active {
  color: #434343;
}

.news-single {
  padding-bottom: 100px;
}

.news-single .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-single-left {
  max-width: 780px;
  width: 100%;
}

.share-box-socials {
  max-width: 210px;
  width: 100%;
  height: 50px;
  padding: 20px;
  background: #f68b1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.share-box-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.share-box-socials li {
  margin: 0 10px;
}

.share-box-socials a {
  color: #ffffff;
  font-size: 20px;
}

.share-box-socials .socials-share {
  font-weight: 300;
  font-size: 14px;
}

.news-left-img {
  max-width: 780px;
  width: 100%;
  height: 438px;
  margin-bottom: 60px;
}

.news-left-content {
  padding: 0 20px;
}

.news-left-content h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.news-left-content p {
  margin-bottom: 20px;
}

.news-left-video {
  max-width: 640px;
  width: 100%;
  height: 360px;
  margin: 40px 0 60px;
}

.news-left-content-slider {
  max-width: 745px;
  width: 100%;
  padding: 0 10px;
}

.news-left-content-slider .slick-prev {
  background: url(../images/slider-left.png) no-repeat center center;
  width: 15px;
  height: 24px;
  top: 10px;
}

.news-left-content-slider .slick-prev::before {
  content: '';
}

.news-left-content-slider .slick-next {
  background: url(../images/slider-right.png) no-repeat center center;
  width: 15px;
  height: 24px;
  top: 10px;
}

.news-left-content-slider .slick-next::before {
  content: '';
}

.news-single-right {
  max-width: 380px;
  width: 100%;
  padding: 0 5px;
}

.news-slider-prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 40px;
}

.news-slider-btn-txt {
  font-size: 18px;
  color: #ababab;
  font-weight: 500;
  cursor: pointer;
}

.news-slider-btn-txt:hover {
  color: #787878;
}

.slider-news .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-news-box {
  max-width: 280px;
  width: 100%;
}

.slider-news-txt {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #231f20;
}

.slider-news-txt.txt-align-right {
  text-align: right;
}

.section-sub-title {
  max-width: 680px;
  width: 100%;
  padding: 0 10px;
  margin-left: 50px;
}

.dna-single-content {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px 0;
}

.dna-single-content .share-box-socials {
  margin: 0 auto;
  margin-bottom: 40px;
}

.dna-contact {
  padding: 40px;
  background: #434343;
  color: #ffffff;
  text-align: center;
}

.dna-contact .more {
  margin-bottom: 20px;
  font-weight: 300;
}

.dna-contact .dna-contact-number, .dna-contact .dna-contact-email a {
  font-size: 22px;
  line-height: 24px;
  color: #f68b1e;
  font-weight: 500;
  margin-bottom: 35px;
}

.dna-contact .dna-or {
  margin-bottom: 10px;
  font-weight: 300;
}

.dna-contact .dna-contact-email {
  margin-bottom: 35px;
}

.dna-contact .dna-contact-help {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.dna-single-video {
  max-width: 720px;
  width: 100%;
  height: 480px;
}

.dna-single-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.split-left,
.split-right {
  width: 50%;
  padding: 0 20px;
  min-height: 180px;
}

.split-left p {
  text-align: right;
}

.split-right {
  border-left: 4px solid #f68b1e;
}

.split-right p {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #f68b1e;
}

.dna-single-site {
  text-align: center;
  padding: 0 20px;
}

.dna-single-site p {
  margin-bottom: 30px;
}

.dna-single-site p.more-info {
  font-size: 14px;
}

.dna-single-site a {
  color: #f68b1e;
}

.dna-single-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dna-single-btns button {
  margin: 0 10px;
}

.contact-bg {
  background: url(../images/contact-bg.jpg) no-repeat center center;
  background-size: cover;
}

.contact {
  background: url(../images/home-strategy-bg.png) no-repeat bottom right;
  padding: 70px 0 230px;
}

.contact-wrapper {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.fill-out {
  text-align: center;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 170px;
}

.contact-form li {
  margin-bottom: 45px;
}

.contact-form li.form-checkbox {
  margin-bottom: 80px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 2px solid #434343;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  margin: 0 auto;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-checkbox input {
  display: none;
}

.form-checkbox label {
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.form-checkbox label span {
  margin-left: 15px;
}

.form-checkbox label::before {
  content: '\2714';
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #434343;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: transparent;
}

input[type="checkbox"]:checked + label::before {
  color: #f68b1e;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.map-address {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-address .map {
  width: 50%;
  height: 400px;
}

.map-address .address {
  width: 50%;
  height: 400px;
  background: #f68b1e;
  color: #ffffff;
  padding: 50px 30px;
}

.map-address .address p {
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}

.map-address .address p.p-address::before, .map-address .address p.p-phone::before, .map-address .address p.p-email::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background: url(../images/address-location.png) no-repeat center left;
}

.map-address .address p.p-phone::before {
  background: url(../images/address-phone.png) no-repeat center left;
}

.map-address .address p.p-email::before {
  background: url(../images/address-email.png) no-repeat center left;
}

.map-address .address a {
  color: #ffffff;
  font-size: 18px;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  padding-top: 200px;
}

.video-box-modal {
  z-index: 9999;
  position: relative;
  max-width: 720px;
  width: 100%;
  height: 380px;
  margin: 0 auto;
}

.modal-btn {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  border: none;
}

.video-box-modal {
  max-width: 720px;
  width: 100%;
  height: 380px;
}

@media screen and (max-width: 1200px) {
  .slider .slick-arrow.slick-prev {
    left: -30px;
  }
  .slider .slick-arrow.slick-next {
    right: -30px;
  }
  .investor-portal {
    top: 165px;
  }
}

@media screen and (max-width: 1024px) {
  .news-single .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .news-single-left {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 920px) {
  .ul-strategy-list li {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
  .investor-portal {
    display: none;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    right: 0;
    margin: auto;
    top: 290px;
  }
  .headline-section-title {
    min-width: 0;
    max-width: 400px;
    width: 100%;
  }
  .button {
    max-width: 150px;
    width: 100%;
    height: 45px;
    font-size: 12px;
  }
  .home-top-title {
    padding: 30px 20px;
    max-width: 500px;
    width: 100%;
  }
  .home-top-title-wrap h3 {
    font-size: 28px;
  }
  .home-top-title-wrap h1 {
    font-size: 32px;
  }
  .home-strategy {
    padding: 40px 0;
  }
  .our-story-strategy {
    padding-top: 120px;
  }
  .ul-strategy-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ul-strategy-list li {
    max-width: 380px;
    width: 100%;
  }
  .ul-strategy-list li:last-child {
    margin-bottom: 0;
  }
  .video-box {
    margin-bottom: 30px;
  }
  .home-slider .wrapper {
    max-width: 550px;
    padding: 0 50px;
  }
  .slider-title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .slider-title p {
    font-size: 10px;
  }
  .slider-content p {
    font-size: 16px;
  }
  .investors {
    padding: 30px 0;
  }
  .investors-content {
    text-align: center;
  }
  .investors-content h4 {
    font-size: 20px;
  }
  .investors-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .investors-btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-slider-bg {
    max-width: 550px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .home-top {
    height: 500px;
    padding: 0 10px;
  }
  .home-top-title-wrap h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .home-top-title-wrap h1 {
    font-size: 26px;
  }
  .content-title {
    min-height: 50px;
  }
  .content-title h3 {
    font-size: 20px;
  }
  .content-txt p {
    font-size: 18px;
  }
  .content-txt {
    min-height: 80px;
  }
  .slider-title {
    margin-bottom: 10px;
  }
  .slider-title h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .slider-content {
    margin-bottom: 10px;
  }
  .slider-content p {
    font-size: 12px;
    font-weight: 400;
  }
  .investors-content p {
    font-size: 14px;
  }
  .logo-footer {
    margin-bottom: 30px;
  }
  .nav-footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-footer li {
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    height: auto;
  }
  .nav-footer {
    margin-bottom: 30px;
  }
  .socials-footer {
    margin-bottom: 30px;
  }
  .headline-section-title h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .who-we-are-inner {
    text-align: center;
  }
  .who-we-are-inner .button {
    margin: 0 auto;
  }
  .core-values-inner {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .news-title {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
  }
  .news-title-wrap .slider-cont-date {
    text-align: center;
  }
  .news-more-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .more-about-txt {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .more-about-txt .button {
    margin: 0 auto;
  }
  .news-list-wrap .button {
    margin: 0 auto;
  }
  .news-list-title h4 {
    text-align: center;
  }
  .news-left-img {
    height: auto;
  }
  .news-left-content {
    text-align: center;
  }
  .news-single {
    padding-bottom: 50px;
  }
  .news-list {
    margin-bottom: 0;
  }
  .slider-news-txt {
    font-size: 14px;
    line-height: 16px;
  }
  .section-sub-title {
    margin-left: 10px;
  }
  .section-sub-title p {
    font-size: 14px;
    line-height: 16px;
  }
  .headline-section {
    height: 230px;
  }
  .headline-section .wrapper.with-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-sub-title {
    padding: 10px;
    text-align: center;
  }
  .split-left,
  .split-right {
    padding: 0 5px;
  }
  .split-left p,
  .split-right p {
    font-size: 14px;
    line-height: 16px;
  }
  .dna-contact {
    padding: 20px 10px;
  }
  .map-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map-address .map,
  .map-address .address {
    width: 100%;
  }
  .map-address .address {
    padding: 50px 15px;
  }
  .map-address p {
    font-size: 14px;
  }
}
